{% extends "base.html" %}

{% block content %}

<h2>executed <strong><em>{{task.name|replace('_', ' ')}}</em></strong> on {{state.env.hosts|join(', ')}}.</h2>
    <Br />
    {% if errors %}
    <div class="alert alert-error">
	    <strong>The execution of task {{task.name}} ran into the following errors:</strong><Br />
    <pre>{{errors}}</pre>
    </div>
    {% endif %}


    {% for host, lines in results.items() %}
    <!-- Output for host: {{host}} -->
    <h3>output for {{host}}</h3>
    <Br />
    <pre>{{lines|join('\n')}}</pre>

    {% endfor %}

    <Hr />
    <h3>Command</h3>
    <p>Here is the command that we just run, if you want to add it into a script.</p>
    <pre>$ fab {{task.name}} -H {{state.env.hosts|join(',')}}</pre>


{% endblock %}

