{% extends "base.html" %}

{% block content %}

<h2>settings</h3>
<p>Place holder for example settings</p>

<form action='/settings/apply' method='POST' class='form-horizontal'>

	<h3>Parallel</h3>
	<div class="control-group">
    		<label class="control-label" for="inputTimtoue">execution pool</label>
    		<div class="controls">
      		<input type="text" name='timeout' id="inputExcetionpool" placeholder="5">
    		</div>
	</div>

	<div class="control-group">
    		<label class="control-label" for="inputCommandTimeout">command timeout</label>
    		<div class="controls">
      		<input type="text" name='timeout' id="inputCommandTimeout" placeholder="2">
    		</div>
  	</div>

	<h3>Timeouts</h3>
	<div class="control-group">
    		<label class="control-label" for="inputTimtoue">connection timeout</label>
    		<div class="controls">
      		<input type="text" name='timeout' id="inputConnectionTimeout" placeholder="5">
    		</div>
	</div>

	<div class="control-group">
    		<label class="control-label" for="inputCommandTimeout">command timeout</label>
    		<div class="controls">
      		<input type="text" name='timeout' id="inputCommandTimeout" placeholder="2">
    		</div>
  	</div>

</form>

{% endblock %}

